[{cluster_name,"production"},{controller_host,["c1"]},{worker_hosts,1,["c1"]},{cookie,"production_cookie"}].
[{cluster_name,"test_0"},{controller_host,["c0"]},{worker_hosts,2,[]},{cookie,"test_0_cookie"}].
[{cluster_name,"test_2"},{controller_host,["c2"]},{worker_hosts,1,["c2"]},{cookie,"test_2_cookie"}].
[{cluster_name,"test_1"},{controller_host,["c1"]},{worker_hosts,1,["c1"]},{cookie,"test_1_cookie"}].
[{cluster_name,"test_10"},{controller_host,["c1"]},{worker_hosts,1,["c1","joq62-X550CA"]},{cookie,"test_10_cookie"}].
[{cluster_name,"error_10"},{controller_host,["c1"]},{worker_hosts,1,["glurk","joq62-X550CA"]},{cookie,"error_10_cookie"}].
