[{cluster_name,"production"},{controller_host,["c1_varmdo"]},{worker_hosts,1,["c1_varmdo"]},{cookie,"production_cookie"}].
[{cluster_name,"test_0"},{controller_host,["c0_varmdo"]},{worker_hosts,1,[]},{cookie,"test_0_cookie"}].
[{cluster_name,"test_2"},{controller_host,["c2_varmdo"]},{worker_hosts,1,["c2_varmdo"]},{cookie,"test_2_cookie"}].
[{cluster_name,"test_1"},{controller_host,["c1_varmdo"]},{worker_hosts,1,["c1_varmdo"]},{cookie,"test_1_cookie"}].
[{cluster_name,"test_10"},{controller_host,["c1_varmdo"]},{worker_hosts,1,["c1_varmdo","asus_varmdo"]},{cookie,"test_10_cookie"}].
[{cluster_name,"error_10"},{controller_host,["c1_varmdo"]},{worker_hosts,1,["glurk","asus_varmdo"]},{cookie,"error_10_cookie"}].
